<article class="cat-card">
    <div class="cat-card-content">
      <img class="cat-card-photo" src="{{url}}">
      <p class="cat-caption">{{caption}}</p>
      <p class="cat-author"> Uploaded by: <strong>{{author}} </strong></p>
      <button type="button" class="upvote-button"><div> <span class = "votes" votes = "{{votes}}" > {{votes}} </span> <span class = "upvote-heart" dataID = "{{_id}}" ><i class="fa fa-heart"> </i></span></div></button>
    </div>
</article>
